@model NursingChecklistManager.Models.ChecklistViewModels.CreateChecklistViewModel

<h2>Create New Checklist</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <h4>Steps to complete procedure:</h4>
            <div class="form-group">
                <label asp-for="@Model.LineItem" class="control-label"></label>
                <input asp-for="@Model.LineItem" class="form-control" />
                <span asp-validation-for="@Model.LineItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submitNewChecklist" type="submit" value="Submit Checklist" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
