@model NursingChecklistManager.Models.ChecklistViewModels.UpdateChecklistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Complete Your Checklist</h4>

<form asp-action="Edit">
    <table class="table">
        <thead>
            Procedure Name:
            @foreach (var item in Model.Title)
            {
                @Html.DisplayFor(modelItem => item)

            }
        </thead>
        <tbody>
            @for(var @i = 0; i < Model.LineItemJoiners.Count(); i++)
            {
                <tr class="checkbox">
                    <td>
                        <input name="ChecklistLineItems[@i].Completed" type="checkbox" value="@Model.LineItemJoiners[i].ChecklistLineItems.Completed">@Model.LineItemJoiners[i].ChecklistLineItems.ActionToDo
                        @*@Html.CheckBox("ChecklistLineItems[@i].Completed", @Model.LineItemJoiners[i].ChecklistLineItems.Completed)*@
                        <input type="hidden" name="ChecklistLineItems[@i].ChecklistLineItemId" value="@Model.LineItemJoiners[i].ChecklistLineItems.ChecklistLineItemId" />
                        <input type="hidden" name="ChecklistLineItems[@i].ActionToDo" value="@Model.LineItemJoiners[i].ChecklistLineItems.ActionToDo" />
                    </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Update and Save Checklist" class="btn btn-default" />
            </div>
        </form>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

